.heroes li {
  padding: 1rem;
}

.badge {
  background-color: cadetblue;
  color: white;
  padding: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.hero-name {
  background-color: antiquewhite;
  padding: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.heroes .selected .hero-name {
  background-color: aliceblue;
}
